.editable-container {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}

.fullwidth {
  width: 100%;
}

.editable {
  display: inline-block;
}

.overlay-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(0,0,0,0);
}

.overlay {
  z-index: 200;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.edit-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  width: 50%;
  height: 100%;
}

.edit-icon:hover {
  cursor: pointer;
}

.height-text {
  display: inline-block;
}

.mt-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100%;
}

.mt-icon:hover {
  cursor: pointer;
}

.edit-icon-image {
  width: 60%;
}

.mt-icon-image {
  width: 60%;
}
