<div
  [class]="fullwidth? 'editable-container fullwidth': 'editable-container'">
  <div class="editable">
    <div [innerHTML]="content"></div>
    <div class="overlay-1">
      ------
      <div class="overlay">
        <div
          class="mt-icon">
          <img
            *ngIf="showMt"
            class="mt-icon-image"
            src="../../assets/auto.png"
            (click)="mt();$event.stopPropagation();">
        </div>
        <div
          class="edit-icon"
          *ngIf="textEditable"
          (click)="edit();$event.stopPropagation();">
          <img
            src="../../assets/edit.png"
            class="edit-icon-image"
            alt="edit">
        </div>
      </div>
    </div>
  </div>
</div>
