:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: inherit;
}

.loader {
  position: relative;
  display: inline-block;
  height: 100%;
  background-color: rgb(198, 203, 207);
  color: rgba(0,0,0,0);
  overflow: hidden;
}

.loader::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }
  to   {
    left: 100%;
  }
}
