<div class="card-container">
  <div class="card">
    <div class="card-header">
      <div class="icon-container"
        (click)="goto()">
        <img [src]="icon" [class]="title ? 'icon' : 'full-icon'">
        <div
          class="title"
          *ngIf="title">
          {{title}}
        </div>
      </div>
      <div
        class="info-icon-container"
        (click)="showBody = !showBody"
        *ngIf="title">
        <img *ngIf="!showBody" src="../../../assets/down.png" class="info-icon">
        <img *ngIf="showBody" src="../../../assets/up.png" class="info-icon">
      </div>
    </div>
    <div
      [class]="expandTemplate? 'card-body card-body-template': 'card-body'"
      *ngIf="showBody">
      <div *ngIf="expandTemplate">
        <ng-container [ngTemplateOutlet]="expandTemplate"></ng-container>
      </div>
      <div *ngIf="!expandTemplate">
        {{description}}
      </div>
    </div>
  </div>
</div>
