.card-container {
  margin: 30px 0px;
}

.card {
  border-radius: 5px;
  /* background-color: rgba(0,0,0,0.7); */
  border: 0px solid rgba(238, 236, 241, 0.6);
  overflow: hidden;
  width: 100%;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: rgb(255, 182, 0);
  width: 100%;
}

.icon-container {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 95%;
}

.icon-container:hover {
  cursor: pointer;
}

.icon {
  height: 30px;
}

.title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  width: 90%;
  padding-left: 10px;
  color: black;
}

.info-icon-container {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 100%;
}

.info-icon-container:hover {
  cursor: pointer;
}

.info-icon {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.card-body {
  font-size: 1.3rem;
  line-height: 1.3rem;
  width: 100%;
  /* background-color: rgb(238, 236, 241); */
  color: black;
}

.card-body-template {
  /* background-color: rgba(0,0,0,0); */
}

@media screen and (max-width: 600px) {
  .card {
    width: 100vw;
  }

  .icon {
  }

  .title {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .card-header {
  }

  .card-body {
    font-size: 1.2rem;
    line-height: 1.2rem;
    width: 100vw;
  }
}
