<div class="election">
  <div
    [class]="(poll.descriptionText[language].length > 100)? 'election-header maximize': 'election-header'"
    (click)="minimized = !minimized">
    <div class="election-title">
      {{poll.title[language]}}
    </div>
    <div class="election-description">
      {{(!minimized)
        ? poll.descriptionText[language]
        : ((poll.descriptionText[language].length > 90)
          ? (poll.descriptionText[language].substring(0, 90) + '...')
          : poll.descriptionText[language])
      }}
    </div>
    <div
      class="arrow"
      *ngIf="(poll.descriptionText[language].length > 90)">
      <img *ngIf="minimized" width="10px" src="../../assets/down.png">
      <img *ngIf="!minimized" width="10px" src="../../assets/up.png">
    </div>
  </div>
  <div class="data-row">
    <div class="stats-icon">
      <span class="img-container"><img class="stats-icon-image" src="../../assets/stats.png"></span>
    </div>
    <div class="election-data">
      <div class="data-title">
        {{strings['nominations'][language]}}
      </div>
      <div class="data-value">
        {{nominationCount}}
      </div>
    </div>
    <div class="election-data">
      <div class="data-title">
        {{strings['casted'][language]}}
      </div>
      <div class="data-value">
        {{poll.votes}}
      </div>
    </div>
    <div
      class="election-button"
      (click)="goto('/polls/'+ poll.url)">
      <div class="button-text">
        {{strings['vote'][language]}}
      </div>
    </div>
  </div>
</div>
<div class="poll-comments">
  <app-comments
    [model]="poll"
    collection="Elections">
  </app-comments>
</div>
