.election {
  width: 100%;
  border-radius: 3px;
  padding: 3px;
  margin-top: 15px;
  background-color: rgb(238, 236, 241)
}

.election-header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(211, 210, 230);
  border-radius: 3px;
  padding: 7px;
  width: 100%;
}

.maximize:hover {
  cursor: pointer;
}

.election-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  width: 100%;
  text-decoration: underline;
  font-weight: bold;
}

.election-description {
  font-size: 1rem;
  width: 100%;
  color: rgb(57, 57, 57);
  font-weight: normal;
}

.data-row {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-top: 3px;
}

.data-row:last-child {

}

.data-value {
  font-size: 1.5rem;
}

.img-container {
  width: 20px;
  height: 20px;
}

.stats-icon {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: calc(16% - 5px);
  border-radius: 3px;
  background-color: rgb(102, 98, 198);
}

.stats-icon-image {
  width: 20px;
  height: 20px;
}

.election-data {
  display: inline-block;
  height: 100%;
  width: calc(28%);
  border-radius: 3px;
  background-color: rgb(198, 198, 205);
  padding: 5px 7px;
  margin-left: 3px;
}

.election-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(28%);
  border-radius: 3px;
  background-color: rgb(101, 99, 158);
  color: white;
  padding: 5px 7px;
  border-bottom: 3px solid rgb(71, 69, 120);
  margin-left: 3px;
}

.election-button:hover {
  cursor: pointer;
}

.button-text {
  font-size: 1.1rem;
}

.arrow {
  position: absolute;
  bottom: 0;
  right: 7px;
}

.poll-comments {
  margin-top: 5px;
}

@media screen and (max-width: 700px) {
  .stats-icon-image {
    width: 15px;
    height: 15px;
  }
}
