.media {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(149, 146, 199);
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 100vh;
  width: 100vw;
}

.centered {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.title-icon {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.iframe {
  margin-bottom: 40px;
}

.more-items {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  width: 100%;
  height: 40px;
  background-color: rgb(238, 236, 241);
  border-radius: 5px;
  color: black;
  margin-bottom: 50px;
}

.more-items:hover {
  cursor: pointer;
}

.add-items {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(48, 45, 82);
  background-color: rgb(85, 82, 129);
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-items:hover {
  cursor: pointer;
}

.back {
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(158, 158, 158);
  width: 100%;
}

.back-button {
  display: flex;
  align-items: baseline;
}

.back:hover {
  cursor: pointer;
}

.path {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(47, 47, 47);
}

.language-select {
  width: 100%;
  padding: 0px 0 20px 10px;
  /* text-align: center; */
}

.language {
  display: inline-block;
  color: rgb(79, 77, 73);
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 5px;
}

.language-centered {
  display: inline-block;
}

.language:hover {
  cursor: pointer;
}

.selected-lang {
  color: rgb(34, 34, 34);
  border-bottom: solid 1px rgb(34, 34, 34);
}

.loader {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px black;
  margin: 20px;
  margin-top: 0;
}

@media screen and (max-width: 700px) {
  .videos {
    flex-direction: column;
    align-items: center;
  }

  .centered {
    width: 100%;
  }
}
