<div class="media">
  <div class="overlay">
    <div class="centered">
      <div
        class="back"
        (click)="goBack()">
        <div class="back-button">
          <img
            [src]="'../../../assets/title' + ((language==0)? '-si.png': ((language==1)? '-en.png': '-ta.png'))"
            height="150px">
          <div class="path">/{{this.path == 'news'? strings['newsTitle'][language]: strings['discussionsTitle'][language]}}</div>
        </div>
      </div>
      <div class="language-select">
        <div class="language-centered">
          <div
            [class]="(language == 0) ? 'language si selected-lang' : 'language si'"
            (click)="selectLanguage(0)">
            සිං
          </div>
          <div
            [class]="(language == 1) ? 'language en selected-lang' : 'language en'"
            (click)="selectLanguage(1)">
            En
          </div>
          <div
            [class]="(language == 2) ? 'language tm selected-lang' : 'language tm'"
            (click)="selectLanguage(2)">
            த
          </div>
        </div>
      </div>
      <div
        (click)="addItem()"
        class="add-items">
        {{strings['reportButton'][language]}}
      </div>
      <div
        class="loader"
        [innerHtml]="loaderContent"
        *ngIf="showLoader">
      </div>
      <div class="videos">
        <app-iframe
          class="iframe"
          *ngFor="let video of videos"
          [data]="video"
          [collection]="(path=='news')? 'News': 'Discussions'">
        </app-iframe>
      </div>
      <div
        *ngIf="moreVideos.length != 0"
        (click)="loadMoreVideos()"
        class="more-items">
        {{strings['moreVideos'][language]}}
      </div>
    </div>
  </div>
</div>
