<div class="language-select">
  <div class="language-centered">
    <div
      [class]="(language == 0) ? 'language si selected-lang' : 'language si'"
      (click)="selectLanguage(0)">
      සිං
    </div>
    <div
      [class]="(language == 1) ? 'language en selected-lang' : 'language en'"
      (click)="selectLanguage(1)">
      En
    </div>
    <div
      [class]="(language == 2) ? 'language tm selected-lang' : 'language tm'"
      (click)="selectLanguage(2)">
      த
    </div>
  </div>
</div>
