.language-select {
  margin-top: 20px;
  margin-bottom: 10px;
  /* text-align: center; */
}

.language {
  display: inline-block;
  color: rgb(79, 77, 73);
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 5px;
}

.language-centered {
  display: inline-block;
}

.language:hover {
  cursor: pointer;
}

.selected-lang {
  color: rgb(34, 34, 34);
  border-bottom: solid 1px rgb(34, 34, 34);
}
