.demands {
  height: 95%;
}

.loader {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: white;
}

.center-container {
  display: table;
  width: 100%;
  height: 100%;
}

.centered {
  display: table-cell;
  vertical-align: middle;
}

.selector {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  padding: 10px;
  color: black;
  background-color: rgb(205, 205, 205);
  border-radius: 3px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.election-selector {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  color: black;
  background-color: rgb(255, 182, 0);
  border-radius: 3px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.description-container {
  position: relative;
}

.election-description {
  padding: 10px;
  background-color: rgb(210, 210, 210);
  border-radius: 3px;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.votes {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: black;
  font-weight: bold;
  padding: 5px;
}

.demand-selector {
  width: 200px;
}

.arrow {
  position: absolute;
  bottom: 0;
  right: 7px;
}

.clickable:hover {
  cursor: pointer;
}
