<div class="demands">
  <div
    class="center-container"
    *ngIf="showLoader">
    <div class="centered">
      <div
        class="loader"
        [innerHtml]="loaderContent">
      </div>
    </div>
  </div>
  <div
    class="election-selector"
    *ngIf="!showLoader">
    <mat-select
      [(ngModel)]="selectedElection"
      (selectionChange)="selectElection()">
      <mat-option
        *ngFor="let election of elections; index as i"
        [value]="i">{{((i==selectedElection) ? strings['electionLabel'][language]: '') + election.title[language]}}</mat-option>
    </mat-select>
  </div>
  <div
    class="election-description clickable"
    (click)="election._previewDescription = !election._previewDescription">
    <div class="description-container">
      <app-editable
        [data]="election"
        path="Elections:description"
        [preview]="election._previewDescription"
        [previewLength]="200"
        [html]="true"
        [(previewCropped)]="election._previewDescriptionCropped">
      </app-editable>
      <div
        class="arrow"
        *ngIf="election._previewDescriptionCropped">
        <img *ngIf="election._previewDescription" width="10px" src="../../assets/down.png">
        <img *ngIf="!election._previewDescription" width="10px" src="../../assets/up.png">
      </div>
    </div>
    <div class="votes">
      {{strings['remainingVotes'][language].replace('*count*', votesLeft.toString())}}
    </div>
  </div>
  <app-create
    [election]="election">
  </app-create>
  <div
    class="selector"
    *ngIf="!showLoader">
    <mat-select
      [(ngModel)]="selected"
      (selectionChange)="getItems()">
      <mat-option [value]="1">{{strings['highestVotes'][language]}}</mat-option>
      <mat-option [value]="2">{{strings['yourDemands'][language]}}</mat-option>
      <mat-option [value]="3">{{strings['yourVotes'][language]}}</mat-option>
    </mat-select>
  </div>
  <div *ngIf="!showLoader">
    <app-demand
      *ngFor="let item of items"
      [item]="item"
      [totalVotes]="election.votes">
    </app-demand>
  </div>
</div>
