<div class="home">
  <div class="title white">
    <div class="centered">
      <div class="title-icon">
        <img
          [src]="'../../../assets/title' + ((language==0)? '-si.png': ((language==1)? '-en.png': '-ta.png'))"
          height="180px">
      </div>
      <div class="language-container">
        <app-language></app-language>
        <div
          class="login-button clickable"
          (click)="login()">
          <span *ngIf="!loggedIn">login</span>
          <span *ngIf="loggedIn">logout</span>
        </div>
      </div>
    </div>
  </div>
  <div class="banner primary-color-1">
    <div class="centered">
      <div class="bulletins-template">
        <div class="banner-icon">
          <img src="../../../assets/2.png" width="50px" height="50px">
          <div class="banner-title">
            {{strings['bulletinTitle'][language]}}
          </div>
        </div>
        <app-bulletin
          *ngFor="let bulletin of bulletins"
          [bulletin]="bulletin">
        </app-bulletin>
        <div
          class="bulletins-more clickable"
          (click)="goto('bulletins')">
          {{strings['moreBulletins'][language]}}..
        </div>
      </div>
    </div>
  </div>
  <div class="banner primary-color-3">
    <div class="centered">
      <div class="banner-icon">
        <img src="../../../assets/5.png" width="50px" height="50px">
        <div class="banner-title">
          {{strings['citizenForumTitle'][language]}}
        </div>
      </div>
      <a
        href="https://citizen-forum-app.netlify.app/"
        target="_blank"
        class="citizen-forum">
        <div class="citizen-description">
          {{strings['citizenForumDescription'][language]}}
        </div>
        <div class="citizen-icon"><img src="../../../assets/citizen.png" width="50px" alt=""></div>
      </a>
    </div>
  </div>
  <div class="banner primary-color-4">
    <div class="centered">
      <div class="banner-icon">
        <img src="../../../assets/7.png" width="50px" height="50px">
        <div class="banner-title">
          {{strings['democraticTitle'][language]}}
        </div>
      </div>
      <div class="elections-template">
        <div
          class="start-election clickable"
          (click)="goto('polls')">
          +
        </div>
        <div
          class="election"
          *ngFor="let election of elections">
          <app-poll [poll]="election"></app-poll>
        </div>
      </div>
    </div>
  </div>
  <div class="banner primary-color-5">
    <div class="centered">
      <div class="banner-icon">
        <img src="../../../assets/5.png" width="50px" height="50px">
        <div class="banner-title">
          {{strings['proposalsTitle'][language]}}
        </div>
      </div>
      <div
        class="propose-button clickable"
        (click)="goto('propose')">
        +
      </div>
      <div
        class="proposals"
        *ngFor="let proposal of proposals">
        <app-proposal [proposal]=proposal></app-proposal>
      </div>
    </div>
  </div>
  <div class="banner primary-color-2">
    <div class="centered">
      <div class="banner-icon">
        <img src="../../../assets/9.png" width="50px" height="50px">
        <div class="banner-title">
          {{strings['newsTitle'][language]}}
        </div>
      </div>
      <app-iframe
        [data]="news"
        collection="News">
      </app-iframe>
      <div
        class="more-news clickable"
        (click)="goto('news')">
        {{strings['moreNews'][language]}}..
      </div>
    </div>
  </div>
  <div class="banner primary-color-6">
    <div class="centered">
      <div class="banner-icon">
        <img src="../../../assets/3.png" width="50px" height="50px">
        <div class="banner-title">
          {{strings['discussionsTitle'][language]}}
        </div>
      </div>
      <app-iframe
        [data]="discussion"
        collection="Discussions">
      </app-iframe>
      <div
        class="more-discussions clickable"
        (click)="goto('discussions')">
        {{strings['moreDiscussions'][language]}}..
      </div>
    </div>
  </div>
  <div class="banner primary-color-7">
    <div class="centered">
      <div class="gallery-template">
        <div class="banner-icon">
          <img src="../../../assets/4.png" width="50px" height="50px">
          <div class="banner-title">
            {{strings['galleryTitle'][language]}}
          </div>
        </div>
        <app-photo
          [photo]="photo">
        </app-photo>
        <div
          class="more-photos clickable"
          (click)="goto('gallery')">
          {{strings['morePhotos'][language]}}..
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="banner">
    <div class="centered">
      <ng-template #aboutTemplate>
        <div
          class="about-us"
          [innerHTML]="strings['aboutUs'][language]">
        </div>
      </ng-template>
      <app-card
        [title]="strings['aboutTitle'][language]"
        icon="../../../assets/6.png"
        [expandTemplate]="aboutTemplate"
        [expanded]="true"
        description="Coming soon..">
      </app-card>
      <div style="margin-bottom:100px;"></div>
    </div>
  </div> -->
  <!-- <div class="centered">
    <div class="cards"> -->
      <!-- <app-card
        [title]="strings['constitutionTitle'][language]"
        icon="../../../assets/8.png"
        description="Coming soon..">
      </app-card> -->
      <!-- <app-card
        [title]="strings['petitionsTitle'][language]"
        icon="../../../assets/1.png"
        description="Coming soon..">
      </app-card> -->
      <!-- <ng-template #bulletinsTemplate>

      </ng-template>
      <app-card
        [title]="strings['bulletinTitle'][language]"
        icon="../../../assets/2.png"
        [description]="strings['bulletinDescription'][language]"
        route="bulletins"
        [expandTemplate]="bulletinsTemplate"
        [expanded]="true">
      </app-card> -->
      <!-- <app-card
        [title]="strings['newsTitle'][language]"
        icon="../../../assets/9.png"
        [description]="strings['newsDescription'][language]"
        [expandTemplate]="newsTemplate"
        [expanded]="true"
        route="news">
      </app-card> -->
      <!-- <app-card
        [title]="strings['citizenForumTitle'][language]"
        icon="../../../assets/5.png"
        [expandTemplate]="citizenTemplate"
        [expanded]="true"
        link="https://citizen-forum-app.netlify.app/">
      </app-card> -->
      <!-- <app-card
        [title]="strings['democraticTitle'][language]"
        icon="../../../assets/7.png"
        [description]="strings['democraticDescription'][language]"
        [expandTemplate]="electionsTemplate"
        [expanded]="true"
        route="democratic">
      </app-card> -->
      <!-- <app-card
        [title]="strings['proposalsTitle'][language]"
        icon="../../../assets/5.png"
        [expandTemplate]="proposalsTemplate"
        [expanded]="true">
      </app-card> -->
      <!-- <app-card
        [title]="strings['discussionsTitle'][language]"
        icon="../../../assets/3.png"
        [description]="strings['discussionsDescription'][language]"
        [expandTemplate]="discussionsTemplate"
        [expanded]="true"
        route="discussions">
      </app-card> -->
      <!-- <app-card
        [title]="strings['galleryTitle'][language]"
        icon="../../../assets/3.png"
        [expandTemplate]="galleryTemplate"
        [expanded]="true"
        description="Coming soon..">
      </app-card> -->
    <!-- </div>
  </div> -->

</div>
