.home {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.white {
  background-color: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.language-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.login-button {
  margin-top: 20px;
  font-size: 1.3rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 10px;
}

.banner-icon {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 5px;
}

.banner-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 10px;
  color: black;
}

.centered {
  width: 700px;
}

.cards {
  width: 100%;
}

.title-icon {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bulletins-template:hover {
  cursor: pointer;
}

.bulletins-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(49, 99, 128);
  background-color: rgb(61, 124, 159);
  color: white;
  margin-bottom: 20px;
  margin-top: 40px;
}

.more-news {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(92, 91, 47);
  background-color: rgb(161, 160, 87);
  color: white;
  margin-bottom: 20px;
  margin-top: 40px;
}

.more-discussions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(65, 99, 106);
  background-color: rgb(100, 148, 157);
  color: white;
  margin-bottom: 20px;
  margin-top: 40px;
}

.more-photos {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(15, 77, 43);
  background-color: rgb(35, 108, 68);
  color: white;
  margin-bottom: 20px;
  margin-top: 40px;
}


.clickable:hover {
  cursor: pointer;
}

.elections-template {
  /* background-color: white; */
  padding-top: 5px;
  margin-bottom: 30px;
}

.start-election {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  overflow: hidden;
  background-color: rgb(95, 92, 138);
  color: white;
  border-bottom: 4px solid rgb(66, 63, 111);
}

.start-election:hover {
  cursor: pointer;
}

.propose-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  overflow: hidden;
  background-color: rgb(109, 102, 130);
  color: white;
  border-bottom: 4px solid rgb(78, 73, 93);
  margin-bottom: 20px;
}

.citizen-forum {
  display: flex;
  align-items: center;
  padding: 0px 10px 30px 10px;
  color: black;
  cursor: pointer;
}

.citizen-description {
  display: inline-block;
  width: 85%;
  text-decoration: none;
}

.citizen-icon {
  display: inline-block;
  width: 15%;
  text-align: right;
  margin-right: 10px;
}

.gallery-template {
  width: 100%;
}

.about-us {
  padding: 20px 10px;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}

@media screen and (max-width: 700px) {
  .centered {
    width: 100%;
  }

  .more-button {
    font-size: 1.2rem;
  }

  .stats-icon-image {
    width: 15px;
    height: 15px;
  }
}
