<div
  class="bulletin">
  <div class="minimized">
    <div class="datetime-icon">
      <div class="datetime">
        <div class="date loader">
          {{monthString}}
        </div>
        <div class="time loader">
          {{timeString}}
        </div>
      </div>
    </div>
    <div
      [class]="minimized? 'header': 'header'"
      (click)="expandClick()">
      <div class="arrow">
        <img *ngIf="minimized" width="10px" src="../../assets/down.png">
        <img *ngIf="!minimized" width="10px" src="../../assets/up.png">
      </div>
      <div [class]="minimized? 'title loader': 'title max loader'">
        <app-editable
          [data]="bulletin"
          path="Bulletin:title"
          [previewLength]="45"
          [preview]="minimized"
          [editable]="!minimized">
        </app-editable>
        <app-loader width="10" [loaded]="!bulletin.placeholder"></app-loader>
      </div>
      <div
        class="description loader"
        *ngIf="minimized">
        <app-editable
          [data]="bulletin"
          path="Bulletin:description"
          [previewLength]="70"
          [preview]="true"
          [editable]="false"
          [stripHTML]="true">
        </app-editable>
        <app-loader width="20" [loaded]="!bulletin.placeholder"></app-loader>
      </div>
    </div>
  </div>
  <div
    class="maximized"
    *ngIf="!minimized">
    <div class="description-alt">
      <app-editable
        [data]="bulletin"
        path="Bulletin:description"
        [html]="true"
        [fullwidth]="true">
      </app-editable>
    </div>
    <div class="creator">
      {{bulletin.createdByName}}
    </div>
  </div>
</div>
<div class="bulletin-comments">
  <app-comments
    [model]="bulletin"
    collection="Bulletin">
  </app-comments>
</div>
