.bulletin {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 7px;
  background-color: rgb(238, 236, 241);
  border-radius: 5px;
  width: 100%;
}

.bulletin-comments {
  margin-bottom: 13px;
}

.minimized {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.maximized {
  margin: 7px 0 0 0;
  width: 100%;
  background-color: rgb(205, 223, 233);
  border-radius: 3px;
}

.datetime-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  min-height: 90px;
  width: 15%;
  height: 15%;
  background-color: rgb(174, 212, 233);
  border-radius: 3px;
}

.verified {
  background-color: rgb(18, 128, 208);
}

.datetime {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  height: 15%;
  min-height: 90px;
  background-color: rgb(205, 223, 233);
  border-radius: 3px;
  margin-left: 7px;
}

.dark {
  background-color: rgb(173, 173, 173);
}

.date {
  font-size: 1.6rem;
}

.time {
  font-size: 0.9rem;
}

.title {
  display: inline-block;
  padding: 7px;
  padding-bottom: 5px;
  font-size: 1.3rem;
  color: black;
  text-decoration: underline;
}

.max {
  font-size: 1.4rem;
}

.description {
  padding: 5px;
  padding-left: 7px;
  font-size: 0.9rem;
  color: rgb(37, 37, 37);
}

.arrow {
  position: absolute;
  bottom: 0;
  right: 7px;
}

.description-alt {
  padding: 7px;
  padding-left: 10px;
  font-size: 1.1rem;
  color: rgb(37, 37, 37);
}

.creator {
  padding: 5px;
  padding-left: 7px;
  font-size: 0.9rem;
  color: black;
}

@media screen and (max-width: 700px) {

  .bulletin {
    width: 100%;
  }

  .title {
    width: 100%;
    font-size: 1.0rem;
    line-height: 1.0rem;
  }

  .max {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .date {
    font-size: 1.2rem;
  }

  .time {
    font-size: 0.8rem;
  }

  .maximized {
    width: 100%;
  }

  .datetime-icon {
    width: 20%;
  }

  .header {
    width: 80%
  }

  .description {
    font-size: 0.7rem;
  }

  .description-alt {
    width: 100%;
  }

}
