<div class="bulletins primary-color-1">
  <div class="overlay">
    <div class="centered">
      <div
        class="back"
        (click)="goBack()">
        <div class="back-button">
          <img
            [src]="'../../../assets/title' + ((language==0)? '-si.png': ((language==1)? '-en.png': '-ta.png'))"
            height="90px">
          <div class="path">/{{strings['bulletinsTitle'][language]}}</div>
        </div>
      </div>
      <app-language></app-language>
      <div class="bulletins-container">
        <app-bulletin-create></app-bulletin-create>
        <div
          class="loader"
          [innerHtml]="loaderContent"
          *ngIf="showLoader">
        </div>
        <app-bulletin
          *ngFor="let bulletin of bulletins"
          [bulletin]="bulletin">
        </app-bulletin>
      </div>
    </div>
  </div>
</div>
