.bulletins {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.centered {
  width: 700px;
}

.loader {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: white;
}

.language-select {
  width: 100%;
  padding: 0px 0 20px 10px;
  /* text-align: center; */
}

.language {
  display: inline-block;
  color: rgb(79, 77, 73);
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 5px;
}

.language-centered {
  display: inline-block;
}

.language:hover {
  cursor: pointer;
}

.selected-lang {
  color: rgb(34, 34, 34);
  border-bottom: solid 1px rgb(34, 34, 34);
}

.bulletins-container {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .centered {
    width: 100%;
  }
}
