.base {
  width: 100%;
  height: 100%;
}

.header-block {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}


.back {
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(158, 158, 158);
  width: 100%;
}

.back-button {
  display: flex;
  align-items: baseline;
}

.back:hover {
  cursor: pointer;
}

.path {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(47, 47, 47);
}

.icon {
  display: flex;
  align-items: center;
}

.icon-image {
  /* background-color: rgba(255, 255, 255, 0.1); */
}

.title-block {
  background-color: rgba(238, 236, 241, 0.1);
}

.title {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: rgb(85, 85, 85);
  padding: 5px 20px 5px 20px;
}

.title:hover:not(.selected) {
  cursor: pointer;
  color: rgb(133, 133, 133);
}

.selected {
  color: rgb(29, 29, 29);
  border-bottom: solid 1px rgb(29, 29, 29);
}

.description {
  font-size: 1.5rem;
  line-height: 1.6rem;
  color: black;
  margin-top: 40px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(255, 182, 0);
  overflow-y: auto;
  min-height: 20vh;
}

.contribute {
  font-family: 'Overpass Mono', monospace;
  font-size: 16px;
}

.votes {
  font-size: 2.1rem;
  line-height: 2.1rem;
  color: white;
  margin-top: 100px;
  padding: 5px 20px 5px 20px;
  margin-bottom: 50px;
  color: white;
  background-color: black;
}

.vote-count {
  color: rgb(180, 180, 180);
  border-bottom: 1px solid white;
}

.small-text {
  font-size: 12px;
}


@media screen and (max-width: 700px) {
  .header-block {
  }

  .votes {
    margin-top: 50px;
  }
  .selected {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .description {
    height: 50vh;
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
  .contribute {
    font-size: 14px;
  }
}
