<div class="base">
  <div class="header-block">
    <div
      class="back"
      (click)="goBack()">
      <div class="back-button">
        <img
          [src]="'../../../assets/title' + ((language==0)? '-si.png': ((language==1)? '-en.png': '-ta.png'))"
          height="120px">
        <div class="path">/{{strings['democraticTitle'][language]}}</div>
      </div>
    </div>
    <app-language></app-language>
  </div>
  <div class="title-block">
    <div
      [class]="(selected == 0) ? 'title selected' : 'title'"
      (click)="select(0)">
      <app-editable
        [data]="election"
        path="Elections:title">
      </app-editable>
    </div>
    <div
      class="title"
      (click)="login()">
      <span *ngIf="!loggedIn">login</span><span *ngIf="loggedIn">logout</span>
    </div>
  </div>
  <div
    class="description"
    *ngIf="selected == 0">
    <app-editable
      [data]="election"
      path="Elections:description"
      [html]="true">
    </app-editable>
  </div>
  <div
    class="description"
    *ngIf="selected == 1"
    [innerHtml]="strings['democracyDescription'][language]">
  </div>
  <div class="votes">
    {{strings['remainingVotes'][language].replace('*count*', votesLeft.toString())}}
  </div>
</div>
