<div class="gallery">
  <div class="overlay">
    <div class="centered">
      <div
        class="back"
        (click)="goBack()">
        <div class="back-button">
          <img
            [src]="'../../../assets/title' + ((language==0)? '-si.png': ((language==1)? '-en.png': '-ta.png'))"
            height="150px">
          <div class="path">/{{strings['galleryTitle'][language]}}</div>
        </div>
      </div>
      <app-language></app-language>
      <div
        (click)="addItem()"
        class="add-items">
        <span *ngIf="!disableButton">
          {{strings['addPhoto'][language]}}
        </span>
        <app-progress
          *ngIf="disableButton">
        </app-progress>
      </div>
      <input
        hidden
        type="file"
        class="file-upload"
        #uploader
        (change)="addPhoto($event)">
      <div
        class="loader"
        [innerHtml]="loaderContent"
        *ngIf="showLoader">
      </div>
      <div class="photos">
        <app-photo
          class="photo"
          *ngFor="let photo of photos"
          [photo]="photo">
        </app-photo>
      </div>
      <div
        *ngIf="morePhotos.length != 0"
        (click)="loadMorePhotos()"
        class="more-items">
        {{strings['morePhotos'][language]}}
      </div>
    </div>
  </div>
</div>
