<div class="comments-header">
  <div class="start">
    <div class="card-label">{{timeAgoString}}</div>
    <div *ngIf="!hideVerified">
      <div
        class="card-label_blue"
        *ngIf="model.verified">
        {{strings['verified'][language]}}
      </div>
      <div
        class="card-label_red"
        *ngIf="!model.verified">
        {{strings['notVerified'][language]}}
      </div>
    </div>
  </div>
  <div class="end">
    <div
      class="comments-count">
      {{commentsCount}}
    </div>
  </div>
</div>
<div
  class="comments-container">
  <div
    class="comments-loader"
    *ngIf="!comments">
    <app-progress></app-progress>
  </div>
  <div
    class="comment"
    *ngFor="let comment of comments">
    <div class="comment-header">
      <div
        class="name"
        *ngIf="comment.name">
        <div
          class="user-icon"
          [ngStyle]="{
            'background-color': arrayToRGB(comment.color),
            'color': arrayToRGB(comment.color)
          }">
          .
        </div>
        <div class="card_label_username">
          {{comment.name.toLowerCase()}}
        </div>
      </div>
      <div
        class="card_label_anonymous"
        *ngIf="!comment.name">
        {{strings['anonymous'][language]}}
      </div>
    </div>
    <div>
      <div class="comment-content">
        <app-editable
          [data]="comment"
          path="Comments:content"
          [adminAllowed]="false"
        ></app-editable>
        <!-- <span
          class="comment-text"
          [innerText]="comment.content[language]">
        </span>
        <div
          class="mt-container"
          *ngIf="comment.content_MT[language]"
          (click)="mt()">
          <img
            class="mt-icon"
            src="../../assets/auto.png">
        </div> -->
      </div>
    </div>
  </div>
  <div class="add-comment">
    <textarea
      name="comment"
      [(ngModel)]="comment"
      (ngModelChange)="commentError = false"
      [placeholder]="strings['commentPlaceholder'][language]"
      [class]="commentError ? 'comment-editor error' : 'comment-editor'">
    </textarea>
    <div
      class="comment-submit"
      (click)="submitComment()">
      <span *ngIf="!progress">+</span>
      <app-progress
        *ngIf="progress"
        class="submit-progress">
      </app-progress>
    </div>
  </div>
</div>
