.comments-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(238, 236, 241);
  border-radius: 3px;
  margin-top: 3px;
  padding: 3px 7px;
}

.start {
  display: flex;
  align-items: center;
}

.end {

}

.comments-container {
  margin-top: 0px;
}

.comments-count {
  padding: 0px 7px;
  text-decoration: underline;
  color: black;
  font-size: 1rem;
}

.add-comment {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.comment-editor {
  margin-top: 3px;
  font-size: 1rem;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: white;
  padding: 7px;
  width: 90%;
  height: 100%;
  background-color: white;
  margin-right: 3px;
}

.comment-submit {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: bold;
  background-color: rgb(198, 198, 198);
  color: white;

  width: calc(10% - 3px);
  height: 100%;

  align-items: center;
  justify-content: center;

  opacity: 0.9;

  margin-top: 3px;
  color: black;
  border-radius: 3px;
}

.submit-progress {
  font-size: 1.4rem;
  font-weight: normal;
}

.comment-submit:hover {
  cursor: pointer;
}

.comments-loader {
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  color: white;
}

.comment {
  margin-top: 5px;
  margin-left: 0px;
  border-radius: 3px;
}

.comment-header {
  display: inline-flex;
  flex-direction: row;
  border-radius: 3px;
}

.comment-text {
  margin-right: 7px;
}

.comment-content {
  /* position: relative; */
  display: inline-flex;
  font-size: 1rem;
  color: rgb(74, 74, 74);
  background-color: rgb(238, 236, 241);
  border-radius: 3px;
  padding: 3px 3px 3px 7px;
}

.mt-container {
  position: relative;
  padding-top: 1px;
  margin-right: 3px;
}

.mt-container:hover {
  cursor: pointer;
}

.mt-icon {
  height: 10px;
  width: 10px;
}

.name {
  display: flex;
  align-items: baseline;
}

.user-icon {
  border-radius: 2px;
  padding: 3px 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.user-name {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  height: 20px;
}

.error {
  border-color: rgb(190, 77, 52);
}

.card_label_anonymous {
  background-color: rgb(92, 92, 92);
  border-radius: 3px;
  padding: 3px 7px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.card-label {
  background-color: rgb(201, 198, 198);
  border-radius: 3px;
  padding: 3px 7px;
  margin-right: 7px;
  color: rgb(59, 59, 59);
  font-size: 1rem;
}

.card-label_blue {
  background-color: rgb(41, 133, 208);
  border-radius: 3px;
  padding: 3px 7px;
  margin-right: 7px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.card-label_red {
  background-color: rgb(208, 71, 41);
  border-radius: 3px;
  padding: 3px 7px;
  margin-right: 7px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.card_label_username {
  background-color: rgb(92, 92, 92);
  border-radius: 3px;
  padding: 3px 7px;
  color: white;
  font-size: 1rem;
}

@media screen and (max-width: 700px) {
  .end {
    display: none;
  }
}
