<div class="background">
  <div class="mask"></div>
</div>
<app-login></app-login>
<app-dataedit></app-dataedit>
<div [class]="(showMessage || showProgress) ? 'message' : 'message hide'">
  <div
    class="progress"
    *ngIf="showProgress">
    <app-progress></app-progress>
  </div>
  <div
    class="message-text"
    *ngIf="!showProgress">
    {{message}}
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
