.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/protest.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
}

.mask {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: white;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(238, 236, 241, 0.6);
  /* border-bottom: 50vh solid rgba(34, 34, 34, 0.9); */
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.message {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  left: 10px;
  background-color: rgb(19, 60, 83);
  color: white;
  font-size: 25px;
  border: solid 2px rgb(150, 150, 150);
  border-width: 2px;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

.message {
  opacity: 1;
}

.message-text {
  min-width: 100px;
  text-align: center;
}

.hide {
  opacity: 0;
}

@media screen and (max-width: 700px) {
  .mask {
    border-bottom: 40vh solid rgba(34, 34, 34, 0.9);
  }

  .background {
    background-position: center;
  }
}
