<div class="proposals-template">
  <div class="proposal-title">
    <app-editable
      [data]="proposal"
      path="Proposals:name">
    </app-editable>
  </div>
  <div class="proposal-motive">
    <div class="p-label">
      {{strings['projectMotive'][language]}}
    </div>
    <div
      [class]="(proposal._motivePreviewCropped)? 'p-content clickable': 'p-content'"
      (click)="proposal._motivePreview = !proposal._motivePreview">
      <app-editable
        [data]="proposal"
        path="Proposals:purpose"
        [previewLength]="150"
        [preview]="proposal._motivePreview"
        [(previewCropped)]="proposal._motivePreviewCropped"
        [html]="true">
      </app-editable>
      <div
        class="arrow"
        *ngIf="proposal._motivePreviewCropped">
        <img *ngIf="proposal._motivePreview" width="10px" src="../../assets/down.png">
        <img *ngIf="!proposal._motivePreview" width="10px" src="../../assets/up.png">
      </div>
    </div>
  </div>
  <div
    class="proposal-institute">
    <div class="p-label">
      {{strings['institutionDescription'][language]}}
    </div>
    <div
      [class]="(proposal._descriptionPreviewCropped)? 'p-content clickable': 'p-content'"
      (click)="proposal._descriptionPreview = !proposal._descriptionPreview">
      <app-editable
        [data]="proposal"
        path="Proposals:description"
        [previewLength]="150"
        [preview]="proposal._descriptionPreview"
        [(previewCropped)]="proposal._descriptionPreviewCropped"
        [html]="true">
      </app-editable>
      <div
        class="arrow"
        *ngIf="proposal._descriptionPreviewCropped">
        <img *ngIf="proposal._descriptionPreview" width="10px" src="../../assets/down.png">
        <img *ngIf="!proposal._descriptionPreview" width="10px" src="../../assets/up.png">
      </div>
    </div>
  </div>
  <div
    class="proposal-files"
    (click)="minimizedFiles = !minimizedFiles">
    <div class="p-label">
      {{strings['filesTitle'][language]}}
    </div>
    <div class="arrow">
      <img *ngIf="minimizedFiles" width="10px" src="../../assets/down.png">
      <img *ngIf="!minimizedFiles" width="10px" src="../../assets/up.png">
    </div>
  </div>
  <div
    class="files"
    *ngIf="!minimizedFiles">
    <a
      *ngFor="let file of proposal.files"
      [href]="file.url" target="_blank" rel="noopener">
      <div class="document-download">
        {{file.name}}
      </div>
    </a>
  </div>
</div>
<div class="proposal-comments">
  <app-comments
    [model]="proposal"
    collection="Proposals">
  </app-comments>
</div>
