.proposals-template {
  padding: 3px;
  background-color: rgb(238, 236, 241);
}

.proposal-title {
  background-color: rgb(199, 196, 213);
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 7px;
  font-size: 1.2rem;
  font-weight: bold;
}

.proposal-motive {
  background-color: rgb(208, 205, 221);
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 7px;
  position: relative;
}

.p-label {
  text-decoration: underline;
  margin-bottom: 7px;
  font-size: 1.2rem;
}

.p-content {
  color: black;
  margin-bottom: 7px;
  font-size: 1rem;
}

.proposal-institute {
  background-color: rgb(208, 205, 221);
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 10px;
  position: relative;
}

.proposal-institute:hover {
  cursor: pointer;
}

.document-download {
  margin-top: 3px;
  padding: 10px;
  text-align: center;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.arrow {
  position: absolute;
  bottom: 0;
  right: 7px;
}

.proposal-files {
  background-color: rgb(115, 102, 116);
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  position: relative;
  color: white;
}

.proposal-files:hover {
  cursor: pointer;
}

.file {
  background-color: rgb(71, 69, 71);
  width: 100%;
  border-radius: 3px;
  margin-top: 3px;
  padding: 10px;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: white;
  text-decoration: underline
}

.file:hover {
  cursor: pointer;
}

.proposal-comments {
  margin-top: 5px;
  margin-bottom: 30px;
}

.clickable:hover {
  cursor: pointer;
}
