.demand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  width: 100%;
}

.demand-comments {
  margin-bottom: 15px;
}

.demand-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  margin-bottom: 3px;
}

.demand-title {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(70% - 10px);
  height: 100%;
  font-size: 1.3rem;
  color: black;
  padding: 10px;
  background-color: rgb(196, 194, 227);
  border-radius: 3px;
}

.demand-title:hover {
  cursor: pointer;
}

.vote-button-container {
  display: inline-block;
  width: 15%;
  height: 100%;

  background-color: rgb(163, 162, 171);
  vertical-align: top;
  border-radius: 3px;
}

.voted {
  background-color: rgb(132, 168, 72);
  vertical-align: middle;
}

.vote-button {
  display: table;

  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.vote-button:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}

.vote-button-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  text-align: center;

  width: 100%;
}

.vote-count-container {
  display: inline-flex;
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: black;
  vertical-align: top;
  color: white;
  border-radius: 3px;
}

.vote-count {
  display: table;

  height: 100%;
  width: 100%;
}

.vote-count-text {
  display: table-cell;
  vertical-align: middle;

  font-size: 1.3rem;
  color: white;
  text-align: center;
}

.demand-body {
  padding: 20px 10px 30px 10px;
  background-color: rgb(8, 36, 40);
  margin-bottom: 6px;
  border-radius: 3px;
}

.demand-description {
  font-size: 1.1rem;
  color: white;
}

.title-preview {
  text-decoration: underline;
  font-weight: bold;
}

.reasons {
  font-size: 20px;
  color: rgb(166, 166, 166);
  padding-bottom: 10px;
}

.description-preview {
  font-size: 1rem;
}

.arrow {
  position: absolute;
  bottom: 0;
  right: 7px;
}


@media screen and (max-width: 700px) {
  .demand-header {
    height: 120px;
  }

  .vote-button-text {
    font-size: 1rem;
  }

  .demand-title {
    font-size: 1rem;
  }

  .vote-count-text {
    font-size: 1.1rem;
  }
}
