<div
  class="demand"
  *ngIf="item.title">
  <div class="demand-header">
    <div
      class="demand-title"
      (click)="expand()">
      <div class="preview">
        <div class="title-preview">
          <app-editable
            [data]="item"
            path="Nominations:title"
            [previewLength]="40"
            [preview]="!expanded"
            [editable]="!item.votes">
          </app-editable>
        </div>
        <div class="description-preview">
          <app-editable
            [data]="item"
            path="Nominations:description"
            [previewLength]="100"
            [preview]="true"
            [editable]="false"
            *ngIf="!expanded">
          </app-editable>
          <div class="arrow">
            <img *ngIf="!expanded" width="10px" src="../../assets/down.png">
            <img *ngIf="expanded" width="10px" src="../../assets/up.png">
          </div>
        </div>
      </div>
    </div>
    <div [class]="voted ? 'vote-button-container voted' : 'vote-button-container'">
      <div
        class="vote-button"
        (click)="vote()">
        <div class="vote-button-text">
          <span *ngIf="!disableButton">{{strings['voteButton'][language]}}</span>
          <app-progress *ngIf="disableButton"></app-progress>
        </div>
      </div>
    </div>
    <div class="vote-count-container">
      {{item.votes}}{{' (' + (item.votes/totalVotes*100).toFixed(0) + '%)'}}
    </div>
  </div>
  <div
    class="demand-body"
    *ngIf="expanded">
    <div class="demand-description">
      <app-editable
        [data]="item"
        path="Nominations:description"
        [editable]="true"
        [html]="true">
      </app-editable>
    </div>
  </div>
</div>
<div class="demand-comments">
  <app-comments
    [model]="item"
    collection="Nominations">
  </app-comments>
</div>
