.signin {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.signin-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}

.signin-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.signin-block {
  position: relative;
  width: 300px;
  /* height: 600px; */
  padding: 30px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  background-color: rgb(194, 194, 194);
}

.center-container {
  display: table;

  width: 100%;
  height: 100%;
}

.centered {
  display: table-cell;
  vertical-align: middle;

  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.input-wrapper {
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  height: 46px;
  border-radius: 3px;
  border-style: solid;
}

.error {
  border-color: rgb(232, 58, 58);
  border-width: 4px;
}

.button {
  display: inline-block;
  background: white;
  color: #444;
  width: 250px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  padding: 2px;
}

.login-button {
  display: inline-block;
  background: white;
  color: #444;
  width: 250px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  padding: 5px;
  font-size: 23px;
  text-align: center;
  height: 46px;
}

.button:hover {
  cursor: pointer;
}

.login-button:hover {
  cursor: pointer;
}

.google {
  background: url(../../../assets/google.png) no-repeat;
}

.facebook {
  background: url(../../../assets/facebook.png) no-repeat;
}

.icon {
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

.button-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

.label-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.signin-label {
  width: 100%;
  font-size: 25px;
  text-align: center
}

.freeze-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
}

.privacy-policy-title {
  font-family: 'Roboto', sans-serif;
  margin: 10px 0px;
  text-decoration: underline;
}

.privacy-policy-title:hover {
  cursor: pointer;
}

.privacy-policy {
  font-family: 'Roboto', sans-serif;
}
