<div
  class="signin"
  *ngIf="showLogin">
  <div
    class="signin-overlay">
  </div>
  <div
    class="signin-container"
    (click)="hideSignin()">
    <div class="center-container">
      <div class="centered">
        <div
          class="signin-block"
          (click)="$event.stopPropagation()">
          <div
            class="nic-container"
            *ngIf="getNIC">
            <div class="label-container">
              <div class="signin-label">
                ජාතික හැඳුනුම්පත් අංකය :
              </div>
            </div>
            <div class="input-wrapper">
              <input
                [class]="nicError ? 'input-field error' : 'input-field'"
                type="text"
                [(ngModel)]="nic"
                (ngModelChange)="nicError = false">
            </div>
            <div class="button-wrapper">
              <div
                class="login-button"
                (click)="createAccount()">
                <span class="login-button-text">ඇතුල්වන්න</span>
              </div>
            </div>
          </div>
          <div
            class="provider-container"
            *ngIf="!getNIC">
            <div
              class="input-wrapper"
              *ngIf="loginStep == 0">
              <input
                [class]="emailError ? 'input-field error' : 'input-field'"
                type="text"
                [(ngModel)]="email"
                placeholder="ඊ-තැපෑල"
                (ngModelChange)="nicError = false">
            </div>
            <div
              class="step-2"
              *ngIf="loginStep == 1">
              <div
                class="input-wrapper"
                *ngIf="signInUp">
                <input
                  [class]="nameError ? 'input-field error' : 'input-field'"
                  type="text"
                  [(ngModel)]="name"
                  placeholder="නම"
                  (ngModelChange)="nicError = false">
              </div>
              <div class="input-wrapper">
                <input
                  [class]="passwordError ? 'input-field error' : 'input-field'"
                  type="password"
                  [(ngModel)]="password"
                  placeholder="මුරපදය"
                  (ngModelChange)="nicError = false">
              </div>
              <div
                class="input-wrapper"
                *ngIf="signInUp">
                <input
                  [class]="passwordError ? 'input-field error' : 'input-field'"
                  type="password"
                  [(ngModel)]="repeatPassword"
                  placeholder="නැවතත් මුරපදය"
                  (ngModelChange)="nicError = false">
              </div>
            </div>
            <div
              class="button-wrapper"
              *ngIf="loginStep != -1">
              <div
                class="login-button"
                (click)="login()">
                <div class="center-container">
                  <div class="centered">
                    <span *ngIf="loginStep == 0" class="login-button-text">ඉදිරියට</span>
                    <span *ngIf="loginStep == 1" class="login-button-text">ඇතුල්වන්න</span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="label-container"
              *ngIf="loginStep != -1">
              <div class="signin-label">
                හෝ
              </div>
            </div>
            <div class="button-wrapper">
              <div
                class="button"
                (click)="facebookSignin()">
                <span class="icon facebook"></span>
                <span class="button-text">Facebook</span>
              </div>
            </div>
            <div
              class="privacy-policy-title"
              (click)="showPrivacyPolicy = !showPrivacyPolicy">
              Privacy policy <span *ngIf="!showPrivacyPolicy">&#9930;</span>
            </div>
            <div
              class="privacy-policy"
              *ngIf="showPrivacyPolicy">
              We do not collect or store any information other than your name and email.<br>
              All information is stored securely in our servers and will never be shared with any third party or be used for any other purposes.<br>
              If preferred, on facebook signin you can click 'Edit Access' and hide your email address.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
