<div class="election primary-color-4">
  <div class="overlay">
    <div class="centered">
      <div
        class="back"
        (click)="goBack()">
        <div class="back-button">
          <img src="../../../assets/title.png" height="80px">
          <div class="path">/{{strings['democraticTitle'][language]}}</div>
        </div>
      </div>
      <app-language></app-language>
      <div class="election-container">
        <div class="election-header">
          {{strings['electionHeader'][language]}}
        </div>
        <input
          type="text"
          name="title"
          maxlength="120"
          [(ngModel)]="electionTitle"
          (ngModelChange)="titleError = false"
          [class]="titleError ? 'create-title error' : 'create-title'"
          [placeholder]="strings['electionTitle'][language]">
        <div [class]="descriptionError ? 'editor-wrapper error': 'editor-wrapper'">
          <angular-editor
            [placeholder]="strings['electionDescription'][language]"
            [(ngModel)]="electionDescription"
            (ngModelChange)="descriptionError = false"
            class="create-description"
            [config]="editorConfig">
          </angular-editor>
        </div>
        <div class="number-input">
          <div class="input-label">
            {{strings['nominationLabel'][language]}}
          </div>
          <input
            type="number"
            name="nominations"
            [(ngModel)]="nominationCount"
            (ngModelChange)="nominationCountChange()"
            class="count">
        </div>
        <div class="number-input">
          <div class="input-label">
            {{strings['votesLabel'][language]}}
          </div>
          <input
            type="number"
            name="votes"
            [(ngModel)]="voteCount"
            (ngModelChange)="voteCountChange()"
            class="count">
        </div>
        <div class="url-input">
          <div class="url-label">
            {{strings['urlLabel'][language]}} aragalaya.online/polls/{{url}}
          </div>
          <input
            type="text"
            name="url"
            maxlength="20"
            [(ngModel)]="url"
            (ngModelChange)="urlChange()"
            class="url">
        </div>
      </div>
      <div
        class="election-button"
        (click)="callElection()">
        {{strings['electionButton'][language]}}
      </div>
    </div>
  </div>
</div>
