:host {
  width: 100%;
}

.iframe {
  background-color: rgb(218, 214, 224);
  border-radius: 5px;
  overflow: hidden;
  height: 300px;
  margin-bottom: 5px;
}

.embed {
  width: 100%;
  height: 300px;
  display: inline-block;
  background-color: black;
  margin: 0;
  padding: 0;
}

.footer {
  font-family: 'Source Sans Pro', serif;
  background-color: rgb(218, 214, 224);
  color: black;
  padding: 0px 10px 2px 10px;
  font-size: 0.7rem;
}
