<div class="election primary-color-4">
  <div class="overlay">
    <div class="centered">
      <div
        class="back"
        (click)="goBack()">
        <div class="back-button">
          <img src="../../../assets/title.png" height="80px">
          <div class="path">/{{strings['democraticTitle'][language]}}</div>
        </div>
      </div>
      <app-language></app-language>
      <div class="election-container">
        <div class="election-header">
          {{strings['proposeHeader'][language]}}
        </div>
        <input
          type="text"
          name="title"
          maxlength="120"
          [(ngModel)]="institutionName"
          (ngModelChange)="nameError = false"
          [class]="nameError ? 'create-title error' : 'create-title'"
          [placeholder]="strings['institutionName'][language]">
        <div [class]="descriptionError ? 'editor-wrapper error': 'editor-wrapper'">
          <angular-editor
            [placeholder]="strings['institutionDescription'][language]"
            [(ngModel)]="institutionDescription"
            (ngModelChange)="descriptionError = false"
            class="create-description"
            [config]="editorConfig">
          </angular-editor>
        </div>
        <div [class]="motiveError ? 'editor-wrapper error': 'editor-wrapper'">
          <angular-editor
            [placeholder]="strings['projectMotive'][language]"
            [(ngModel)]="projectMotive"
            (ngModelChange)="motiveError = false"
            class="create-description"
            [config]="editorConfig">
          </angular-editor>
        </div>
        <div
          class="add-document"
          (click)="uploader.click()">
          <span *ngIf="!disableFileButton">
            {{strings['documentLabel'][language]}}
          </span>
          <app-progress
            *ngIf="disableFileButton">
          </app-progress>
        </div>
        <div
          class="file"
          *ngFor="let file of files">
          {{file.name}}
        </div>
        <input
          hidden
          type="file"
          class="file-upload"
          #uploader
          (change)="addFile($event)">
      </div>
      <div
        class="election-button"
        (click)="addProposal()">
        <span *ngIf="!disableButton">
          {{strings['proposeButton'][language]}}
        </span>
        <app-progress
          *ngIf="disableButton">
        </app-progress>
      </div>
    </div>
  </div>
</div>
