.election {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.centered {
  width: 700px;
}

.back {
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(158, 158, 158);
  width: 100%;
}

.back-button {
  display: flex;
  align-items: baseline;
}

.back-icon {
  margin-right: 10px;
}

.back:hover {
  cursor: pointer;
}

.path {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(47, 47, 47);
}

.election-header {
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  border-radius: 3px;
  background-color: rgb(255, 182, 0);
  color: black;
  padding: 10px;
  margin-bottom: 10px;
}

.loader {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: white;
}

.language-select {
  width: 100%;
  padding: 0px 0 20px 10px;
  /* text-align: center; */
}

.language {
  display: inline-block;
  color: rgb(79, 77, 73);
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 5px;
}

.language-centered {
  display: inline-block;
}

.language:hover {
  cursor: pointer;
}

.selected-lang {
  color: rgb(34, 34, 34);
  border-bottom: solid 1px rgb(34, 34, 34);
}

.election-container {
  width: 100%;
}

.create-title {
  width: 100%;
  height: 60px;
  font-size: 1rem;
  border-radius: 3px;
  padding: 0 10px 0 10px;
}

.editor-wrapper {
  width: 100%;
  background-color: white;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.create-description {
  font-size: 1rem;
  line-height: 1rem;
  border-style: solid;
  border-radius: 3px;
  border-width: 0px;
  border-color: rgb(6, 67, 75);
  color: black;
  width: 100%;
  height: 150px;
}

.number-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 3px;
  overflow: hidden;
  background-color: rgb(235, 235, 235);
  margin-bottom: 10px;
}

.input-label {
  width: 80%;
  font-size: 1rem;
  padding: 10px;
  color: rgb(69, 69, 69);
}

.url-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 3px;
  overflow: hidden;
  background-color: rgb(235, 235, 235);
  margin-bottom: 10px;
}

.url-label {
  width: 70%;
  font-size: 1rem;
  padding: 10px;
  color: rgb(69, 69, 69);
}

.count {
  width: 20%;
  height: 60px;
  font-size: 1.2rem;
  padding: 10px;
  border-width: 0;
}

.url {
  width: 30%;
  height: 60px;
  font-size: 1rem;
  padding: 10px;
  border-width: 0;
}

.election-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(48, 45, 82);
  background-color: rgb(85, 82, 129);
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.election-button:hover {
  cursor: pointer;
}

.add-document {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(96, 94, 94);
  background-color: rgb(133, 133, 133);
  color: white;
  margin-bottom: 5px;
}

.add-document:hover {
  cursor: pointer;
}

.error {
  background-color: rgb(227, 157, 148);
}

.file {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(71, 69, 71);
  width: 100%;
  height: 50px;
  border-radius: 3px;
  margin-top: 3px;
  padding: 10px;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: white;
  text-decoration: underline
}

.file:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .centered {
    width: 100%;
  }
}
