<div
  class="dataedit"
  *ngIf="showDataedit">
  <div
    class="dataedit-overlay">
  </div>
  <div
    class="dataedit-container"
    (click)="hideDataedit()">
    <div
      class="dataedit-block"
      (click)="$event.stopPropagation()">
      <div
        class="text-edit"
        *ngIf="!event.html">
        <!-- <div class="label">
          Original text:
        </div>
        <div class="original-text">
          {{event.data[event.propName][event.language]}}
        </div> -->
        <!-- <div class="label">
          Replace text:
        </div> -->
        <input
          type="text"
          name="text"
          [maxlength]="event.maxLength"
          [(ngModel)]="newText"
          (ngModelChange)="error = false"
          [class]="error ? 'edit-text error' : 'edit-text'">
      </div>
      <div
        class="html-edit"
        *ngIf="event.html">
        <!-- <div class="label">
          Original text:
        </div>
        <div
          class="original-text"
          [innerHTML]="event.data[event.propName][event.language]">
        </div>
        <div class="label">
          Replace text:
        </div> -->
        <div class="editor-wrapper">
          <angular-editor
            [(ngModel)]="newHTML"
            (ngModelChange)="error = false"
            [class]="error ? 'edit-html error' : 'edit-html'"
            [config]="editorConfig">
          </angular-editor>
        </div>
      </div>
      <input
        type="checkbox"
        id="mt"
        name="mt"
        [(ngModel)]="mt">
      <label for="vehicle1"> Machine Translated</label><br>
      <div
        class="submit-button"
        (click)="submit()">
        <span *ngIf="!progress">submit</span>
        <app-progress *ngIf="progress"></app-progress>
      </div>
    </div>
  </div>
</div>
