.dataedit {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.dataedit-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}

.dataedit-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dataedit-block {
  width: 700px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(194, 194, 194);
}

.original-text {
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;
  max-height: 50vh;
  overflow: scroll;
}

.edit-text {
  width: 100%;
  font-size: 1rem;
  border-radius: 3px;
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;
}

.editor-wrapper {
  background-color: white;
  height: 250px;
  margin-bottom: 10px;
}

.edit-html {
  font-size: 1rem;
  line-height: 1rem;
  color: black;
  width: 100%;
  height: 100%;
}

.error {
  border-color: rgb(232, 58, 58);
  border-width: 4px;
}

.submit-button {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgb(124, 119, 126);
}

.submit-button {
  cursor: pointer;
}

.label {
  padding: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 700px) {
  .centered {
    width: 100%;
  }

  .more-button {
    font-size: 1.3rem;
  }

  .stats-icon-image {
    width: 15px;
    height: 15px;
  }
}
