.content {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.language-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.login-button {
  margin-top: 20px;
  font-size: 1.3rem;
}

.centered {
  width: 700px;
}

.back {
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(158, 158, 158);
  width: 100%;
}

.back-button {
  display: flex;
  align-items: baseline;
}

.back-icon {
  margin-right: 10px;
}

.back:hover {
  cursor: pointer;
}

.path {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(47, 47, 47);
}
