<div class="content primary-color-4">
  <div class="overlay">
    <div class="centered">
      <div
        class="back"
        (click)="goBack()">
        <div class="back-button">
          <img
            [src]="'../../../assets/title' + ((language==0)? '-si.png': ((language==1)? '-en.png': '-ta.png'))"
            height="110px">
          <div class="path">/{{strings['democraticTitle'][language]}}</div>
        </div>
      </div>
      <div class="language-container">
        <app-language></app-language>
        <div
          class="login-button clickable"
          (click)="login()">
          <span *ngIf="!loggedIn">login</span>
          <span *ngIf="loggedIn">logout</span>
        </div>
      </div>
      <app-demands
        [election]="electionData">
      </app-demands>
    </div>
  </div>
</div>
