<div class="create">
  <!-- <div
    class="create-button"
    (click)="expandCreate()">
      <span *ngIf="maximized">-</span>
      <span *ngIf="!maximized">+</span>
  </div> -->
  <div
    class="create-header"
    *ngIf="maximized">
    <input
      type="text"
      name="title"
      maxlength="200"
      [(ngModel)]="itemTitle"
      (ngModelChange)="titleError = false"
      [class]="titleError ? 'create-title error' : 'create-title'"
      [placeholder]="strings['suggestionTitle'][language]">
    <angular-editor
      [placeholder]="strings['suggestionDescription'][language]"
      [(ngModel)]="itemDescription"
      (ngModelChange)="descriptionError = false"
      [class]="descriptionError ? 'create-description error' : 'create-description'"
      [config]="editorConfig">
    </angular-editor>
  </div>
  <div
    class="submit-demand"
    (click)="addItem()">
    <span *ngIf="!disableButton">{{strings['suggest'][language]}}</span>
    <app-progress *ngIf="disableButton"></app-progress>
  </div>
</div>
