.create {
  height: 100%;
  width: 100%;
  padding: 0;
}

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(85, 82, 125);
  background-color: rgb(106, 104, 145);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.create-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 700px;
}

.create-title {
  width: 100%;
  height: 60px;
  font-size: 1.4rem;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(6, 67, 75);
  padding: 0 10px 0 10px;
}

.submit-demand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(85, 82, 125);
  background-color: rgb(106, 104, 145);
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
}

.submit-demand:hover {
  cursor: pointer;
}

.create-body {
  height: 70%;
  width: 100%;
}

.create-description {
  font-size: 1.2rem;
  line-height: 1.2rem;
  background-color: white;
  color: black;
  width: 100%;
  /* height: 150px; */
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(6, 67, 75);
}

.error {
  border-color: rgb(232, 58, 58);
  border-width: 4px;
}

@media screen and (max-width: 767px) {
  .submit-demand {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
}
