<div class="bulletin-header">
  <div
    class="create-button"
    (click)="expandCreate()">
      <span *ngIf="maximized">-</span>
      <span *ngIf="!maximized">+</span>
  </div>
</div>
<div
  class="bulletin-create"
  *ngIf="maximized">
  <input
    type="text"
    name="title"
    maxlength="70"
    [(ngModel)]="itemTitle"
    (ngModelChange)="titleError = false"
    [class]="titleError ? 'create-title error' : 'create-title'"
    [placeholder]="strings['bulletinTitle'][language]">
  <angular-editor
    [placeholder]="strings['bulletinDescription'][language]"
    [(ngModel)]="itemDescription"
    (ngModelChange)="descriptionError = false"
    [class]="descriptionError ? 'create-description error' : 'create-description'"
    [config]="editorConfig">
  </angular-editor>
  <div
    class="bulletin-submit"
    (click)="submitBulletin()">
    <span *ngIf="!disableButton">{{strings['bulletinSubmit'][language]}}</span>
    <app-progress *ngIf="disableButton"></app-progress>
  </div>
</div>
