.bulletin-header {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 3px;
}

.verified-post {
  display: flex;
  align-items: center;
}

.verified-color {
  background-color: rgb(18, 128, 208);
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.verified-label {
  margin-left: 10px;
  font-size: 1.1rem;
}

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(49, 99, 128);
  background-color: rgb(61, 124, 159);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bulletin-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 700px;
}

.create-title {
  width: 100%;
  height: 60px;
  font-size: 1.4rem;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(6, 67, 75);
  padding: 0 10px 0 10px;
}

.bulletin-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(49, 99, 128);
  background-color: rgb(61, 124, 159);
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
}

.bulletin-submit:hover {
  cursor: pointer;
}

.editor-container {
  height: 150px;
  width: 100%;
}

.create-description {
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(6, 67, 75);
  background-color: white;
  color: black;
  width: 100%;
  /* height: 150px; */
  margin-bottom: 10px;
}

.error {
  border-color: rgb(232, 58, 58);
  border-width: 4px;
}

.create-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .create-title {
    width: 100%;
  }

  .create-description {
    width: 100%;
  }

  .bulletin-submit {
    width: 100%;
  }

  .bulletin-header {
    width: 100%;
  }

  .bulletin-create {
    width: 100vw;
  }
}
