/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  color: rgb(51, 51, 51);
  width: 100%;
  height: 100%;
}

.english {
  font-family: 'Source Sans Pro', serif;
  font-size: 14px;
}

@font-face {
  font-family: 'Source Sans Pro', serif;
}

@font-face {
  font-family: 'Abhaya Libre', serif;
  unicode-range: U+0D-80, U+0D-FF;
}

.tamil {
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
}

@font-face {
  font-family: 'Catamaran', sans-serif;
  unicode-range: U+0B-82, U+0B-CD;
}

body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.primary-color-1 {
  background-color: rgb(117, 180, 215);
}

.primary-color-2 {
  background-color: rgb(223, 222, 132);
}

.primary-color-3 {
  background-color: rgb(233, 231, 231);
}

.primary-color-4 {
  background-color: rgb(149, 146, 199);
}

.primary-color-5 {
  background-color: rgb(211, 205, 228);
}

.primary-color-6 {
  background-color: rgb(135, 187, 196);
}

.primary-color-7 {
  background-color: rgb(89, 120, 103);
}

.loader {
  position: relative;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 16px;
  }
}

/* Tooltip container */
.tooltip {
 position: relative;
 display: flex;
 border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
