.photo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  align-items: center;
  background-color: black;
  cursor: zoom-in;
  border-radius: 5px;
  margin-bottom: 4px;
}

.image {
  height: 100%;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  cursor: zoom-out;
}

.image-fs {
  width: 80%;
}
