<div
  class="photo"
  (click)="fullscreen=true">
  <img [src]="url" class="image">
</div>
<div
  class="fullscreen"
  *ngIf="fullscreen"
  (click)="fullscreen=false">
  <img [src]="url" class="image-fs">
</div>
<app-comments
  [model]="photo"
  collection="Gallery">
</app-comments>
