<div class="contribute">
  <div class="overlay">
    <div class="centered">
      <div
        class="back"
        (click)="goBack()">
        <div class="back-button">
          <img
            src="../../assets/previous_w.png"
            width="20px"
            class="back-icon">
            <span class="ao">aragalaya.online</span>
            <span class="path">/contribute</span>
        </div>
        <div
          class="description contribute">
          The easiest way to contribute is to test this website and let us know of any issues you find.<br><br>
          This project is open-source and is hosted at:<br>
          <a href="https://gitlab.com/sldemands/sldemands">https://gitlab.com/sldemands/sldemands</a><br><br>

          Planned work:<br><br>

          Make app multilingual<br>
          Add comments and likes to create a discussion<br>
          Make suggestions sharable on social media<br><br>

          If you would like to join the team or help us in any way, please reach out.<br>
          <a href="mailto:contact@adrushyamana.tech">contact@adrushyamana.tech</a><br><br><br><br><br><br>
          <div class="small-text">
            <a href="https://www.flaticon.com/free-icons/google" title="google icons">Google icons created by Freepik - Flaticon</a><br>
            <a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by Ruslan Babkin - Flaticon</a><br>
            <a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons created by Google - Flaticon</a><br>
          </div>
        </div>
    </div>
  </div>
</div>
