.bulletins {
  width: 100vw;
  height: 100vh;
  background-image: url(../../../assets/protest-2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: white;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
}

.centered {
  max-width: 600px;
  margin-top: 100px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(158, 158, 158);
}

.back-button {
  display: flex;
  align-items: center;
}

.back-icon {
  margin-right: 10px;
}

.back:hover {
  cursor: pointer;
}
