.embed {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(149, 146, 199);
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: white;
  min-height: 100vh;
  width: 100vw;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  padding: 10px;
}

.label {
  font-size: 1.2rem;
  color: black;
  max-width: 300px;
}

.add {
  font-size: 1.2rem;
  background-color: rgb(44, 144, 154);
  color: black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
}

.add:hover {
  cursor: pointer;
}

.input-wrapper {
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  height: 46px;
  border-radius: 3px;
  border-style: solid;
}

.error {
  border-color: rgb(232, 58, 58);
  border-width: 4px;
}
