<div class="embed">
  <div class="overlay">
    <div class="centered">
      <div class="label">
        To add a video, follow the below steps:<br><br>

        On Facebook/Youtube click on the <span>share</span> button on the video you want to embed.<br>
        Select the <span>Embed</span> option.<br>
        Click on the <span>Copy</span> button.<br>
        Paste it on the input below and click the add button.<br><br>
      </div>
      <div class="input-wrapper">
        <input
          [class]="error ? 'input-field error' : 'input-field'"
          type="text"
          [(ngModel)]="code"
          (ngModelChange)="error = false">
      </div>
      <div
        class="add"
        (click)="embedVideo()">
        Add
      </div>
    </div>
  </div>
</div>
